header{
  font-family: Avenir Next;
  margin: 0;
}
#name{
  color: white;
  position: relative;
  margin-left: 10px;
  display: block;
  top: 30px;
  left: 120px;
}

h1{
  position: relative;
  font-family: American Typewriter;
  font-weight: normal;
  font-size: 60px;
  top: 100px;
  text-align: center;
}
p{
  position: relative;
  top: 100px;
  text-align: center;

}
#text{
min-width: 80%;
min-height: 50px;
font-family: American Typewriter;
font-size: 20px;
text-align: center;
}

#Box{
  min-width: 80%;
  min-height: 50px;
  font-family: American Typewriter;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
#Box:focus{
    outline: 2px solid #d12c2c;
}
#Box:hover{
  cursor: pointer;
}

input[type=text]:focus{
  outline: 2px solid #d12c2c;
}

input[type=submit]:focus{
  outline: 2px solid white;
}

#submit{
  border: none;
  min-width: 40%;
  height: 10%;
  font-family: American Typewriter;
  color: white;
  font-size: 20px;
  margin: 40px;
  padding: 10px;
  background-color: #d12c2c;
  box-shadow: 0 0 4px #202020;
}
#submit:hover{
  opacity: .7;
  cursor: pointer;
}

#Gallery{
  position: relative;
  display: table;
  top: 100px;
  text-align: center;
  max-width: 100%;
  min-width: 100%;

}



































/*This is our heading*/
#logo{
  margin: 0px;
  position: absolute;
  display: inline-block;
  background: white;
  top: 20px;
  float: left;
  margin-left: 10px;
  overflow: visible;
}

header{
  position: relative;
  display: block;

}

header ul {
    list-style-type: none;
    margin-left: 120px;
    padding: 0;
    overflow: hidden;
    background-color: #D12C2C ;
    box-shadow: 0 0 4px #202020;
    display: inline-block;
    width: calc(100% - 120px);
    text-align: right;
}
li {
    right: 10px;
    display: inline;
    float: right;

}
li a{
  display: block;
  padding: 15px 17px;
  text-align: center;
  text-decoration: none;
}
li a{
  text-decoration: none;
  position: relative;
  color: white;
}

a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 4px solid white;
  transition: 0.4s;
}

a:hover:after {
  width: 85%;
}
