body{
  font-family: Avenir Next;
  margin: 0;
  background: url('/images/background.jpg');
  background-size: 100%;
}


.movie_night{
  font-weight: normal;
  font-family: American Typewriter;
  opacity: .8;
  position: relative;
  text-align: center;
  top: 50px;
  font-size: 150px;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.welcome{
  font-weight: lighter;
  font-size: 30px;
  font-family: American Typewriter;
  float: right;
  margin-right: 20px;
  bottom: 75px;
  text-shadow: 2px 2px 2px black;
  position: relative;
  color: white;
}

.btn{
  background-color: #d12c2c;
  opacity: .8;
  min-width: 250px;
  max-width: 250px;
  min-height: 50px;
  max-height: 50px;
  font-family: American Typewriter;
  font-size: 15px;
  border: white;
  position: relative;
  overflow: hidden;
  color: white;
  bottom: 50;
  right: 0%;
}

button:hover {
  opacity: .5;
  color: black;
  cursor: pointer;
}

button[type=begin_search]:focus{
  outline: 2px solid white;
}
