h1{
    background: url('/images/et.jpg');
    position:relative;
    display: inline-block;
    margin:0 25px;
    color: white;
    font-weight: normal;
    text-shadow: 1px 1px black;
    padding: 60px;
    height:100%;
}
