<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Base Header</title>
    <link rel='stylesheet' href='/resources/common.css'>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src='/Javascript/home.js'></script> -->
  </head>

  <header>
    <div id="logo"><img src='/images/movienight-red2.gif' width='100px'></div>
    <ul>
      <li><a id='signup' href='/signup'>Sign Up</a></li>
      <li><a id='history' href='/history'>My History</a></li>
      <li><a id='form' href='/genre'>My Movies</a></li>
      <li><a id='home' href='/'>Home</a></li>
    </ul>
  </header>
{% block content %}
  <body>



  </body>
{% endblock %}
</html>
