<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Other Movies Form</title>
    <link rel='stylesheet' href='/resources/common.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/javascript/common.js"></script>
  </head>

  {% extends "base.html" %}

{% block content %}
  <body>
    <h1>Pick a Production Company!</h1>
    <form id='Companies' method="post" action='/cast'>
      <!-- <p><input id='text'type='text' name='genre'></p> -->
      <p><select form_id='Companies' id='Box' class='company' name='company'>
          <option id='text' value='  '>  </option>
          <option id='text' value='Any'>Any</option>
          <option id='text' value='Disney'>Disney</option>
          <option id='text' value='Paramount'>Paramount Pictures</option>
          <option id='text' value='DreamWorks'>DreamWorks</option>
          <optopn id='text' value='Universal'>Universal Pictures</option>
          <option id='text' value='Fox'>20th Century Fox</option>

        </p>
        <p><input id='submit' type='submit'></p>
        <input type="hidden" name="genre" value={{genre}}>
        <input type="hidden" name="adult" value={{adult}}>
        <input type="hidden" name="year" value={{year}}>
    </form>

    <div id='Gallery'>
      <img id='one' class='photo' src='/images/inception.jpg' height='250'>
      <img id='two' class='photo' src='/images/pirates.jpg' height='250'>
      <img id='three' class='photo' src='/images/birdman.jpg' height='250'>
      <img id='four' class='photo' src='/images/homealone.jpg' height='250'>
      <img id='five' class='photo' src='/images/lilo.jpg' height='250'>
      <img id='six' class='photo' src='/images/lesmis.jpg' height='250'>
      <img id='seven' class='photo' src='/images/godfather.jpg' height='250'>
    </div>
  </body>
{% endblock %}

</html>
