<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Other Movies Form</title>
    <link rel='stylesheet' href='/resources/common.css'>
  </head>

  {% extends "base.html" %}

{% block content %}
  <body>
    <h1>Production Companies?</h1>
    <form method="post" action='/cast'>
      <p><input id='text' type='text' name='movie'></p>
      <p><input id='submit' type='submit'></p>
      <input type="hidden" name="genre" value={{genre}}>
    </form>
  </body>
{% endblock %}

</html>
