<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Genre Form</title>
    <link rel='stylesheet' href='/resources/common.css'>
  </head>


  {% extends "base.html" %}

{% block content %}
  <body>
    <h1>What Genre Are You Looking For?</h1>
    <form method="post" action='/rating'>
      <p><select id='text'>
        <option value="---">  </option>
        <option value='action'>Action</option>
        <option value='adventure'>Adventure</option>
        <option value='animation'>Animation</option>
        <option value='comedy'>Comedy</option>
        <option value='crime'>Crime</option>
        <option value='documentary'>Documentary</option>
        <option value='drama'>Drama</option>
        <option value='family'>Family</option>
        <option value='fantasy'>Fantasy</option>
        <option value='history'>History</option>
        <option value='horror'>Horror</option>
        <option value='music'>Musical</option>
        <option value='mystery'>Mystery</option>
        <option value='romance'>Romance</option>
        <option value='scienceFict'>Science Fiction</option>
        <option value='tvmovie'>TV Movie</option>
        <option value='thriller'>Thriller</option>
        <option value='western'>Western</option>
        <option value='war'>War</option>

      </select></p>

      <p><input id='submit' type='submit'></p>
    </form>
  </body>
{% endblock %}
</html>
