<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Night</title>
    <link rel='stylesheet' href='/resources/home.css'>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src='/Javascript/home.js'></script> -->
  </head>

  <header>
    <div id="logo"><img src='/images/movienight.gif' width='100px'</div>
    <ul>
      <li><a id='contact' href='/contact'>Contact Us</a></li>
      <li><a id='signup' href='/signup'>SignUp</a></li>
      <li><a id='about' href='/about'>About Us</a></li>
      <li><a id='home' href='/'>Home</a></li>
    </ul>
  </header>

  <body>

    <div id='name'><h1>{{ CompanyName }}</h1></div>

  </body>
</html>
