<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Night</title>
    <!-- <link rel='stylesheet' href='/resources/common.css'> -->
    <link rel='stylesheet' href='/resources/home.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src='/javascript/home.js'></script>
  </head>


{% block content %}


<body>
<!-- <div id="homeImg"><img id='popcorn' src='/images/popcorn.gif' width='600px'></div> -->
    <h1 class='movie_night'>Movie Night</h1>
    <p class='welcome'>More Time Watching | Less Time Searching</p>
    <p><a href='/genre'><button class='btn' type="begin_search">Begin Your Movie Search</button></a></p>
</body>
{% endblock %}

</html>
