<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rating Form</title>
    <link rel='stylesheet' href='/resources/common.css'>
  </head>

  {% extends "base.html" %}

{% block content %}
  <body>
    <h1>What Rating?</h1>
    <form id='Ratings' method="post" action='/year'>
      <p><select form_id='Ratings' id='Box' class='adult' name='adult'>
          <option id='text' value='  '>  </option>
          <option id='text' value='Adult'>Adult</option>
          <option id='text' value='Kid'>Kid</option>
          <option id='text' value='Any'>Any</option>
        </p>
      <p><input id='submit' type='submit'></p>
      <input type="hidden" name="genre" value={{genre}}>
    </form>
  </body>
{% endblock %}

</html>
