<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Movie Recs</title>
    <link rel='stylesheet' href='/resources/common.css'>
    <link rel='stylesheet' href='/resources/recommendations.css'>
  </head>

  {% extends "base.html" %}

{% block content %}
  <body>
    Your recommendations are:
    {% for m in movies %}
          {{ m }},
    {% endfor %}

    {% for url in posterurls %}
          <p>
          <img src="{{ url }}"></img>
          </p>
     {% endfor %}
  </body>
{% endblock %}

</html>
