<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Movie Recs</title>
    <link rel='stylesheet' href='/resources/common.css'>
    <link rel='stylesheet' href='/resources/recommendations.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/javascript/recommendations.js"></script>
  </head>



  {% extends "base.html" %}

{% block content %}
  <body>
       <p class='no_results'>{{ results }}</p>
      <div id='movie'>
        {% for m in movies %}
          <div class='container'>
              <img name='{{ m.title }}' overview='{{m.overview}}' class='poster' src='{{ m.url }}' height='300'></img>
              <input class='has_watched_box' title='Want to see?' type='checkbox' value= '{{ m.movie_id }}'></input>
          </div>
        {% endfor %}
      </div>


     <div id="myModal" class="modal">

       <!-- The Close Button -->


       <!-- Modal Content (The Image) -->
    <div class='modal-content' class='overlay' width='500'>
      <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
       <!-- Modal Caption (Image Text) -->

      <div id="title">
          {% for m in movies %}
              {{ m }}
          {% endfor %}
        </div>

        <div id='overview'>
          {% for m in movies %}
              {{ m }}
          {% endfor %}
       </div>

     </div>



  </body>
{% endblock %}

</html>
