<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reviews Form</title>
    <link rel='stylesheet' href='/resources/common.css'>
  </head>

  {% extends "base.html" %}

{% block content %}
  <body>
  <h1>Rating Out of Ten?</h1>
    <form method="post" action="/companies">
      <p><input id='text' type='text' name='reviews'></p>
      <p><input id='submit' type='submit'></p>
      <input type="hidden" name="genre" value={{genre}}>
    </form>
  </body>
{% endblock %}

</html>
