<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Runtime Form</title>
    <link rel='stylesheet' href='/resources/runtime.css'>
  </head>

  {% extends "base.html" %}

{% block content %}
  <body>
    <h1>How Long?</h1>
    <form id='Runtime' method="post" action='/recommendations'>
      <p><select form_id='Runtime' id='Box' class='runtime' name='runtime'>
          <option id='text' value='  '>  </option>
          <option id='text' value='long'>Longer than 2 hours</option>
          <option id='text' value='medium'>1-2 hours</option>
          <option id='text' value='short'>Less than 1 hour</option>

        </p>
      <p><input id='submit' type='submit'></p>
      <input type="hidden" name="genre" value={{genre}}>
      <input type="hidden" name="adult" value={{adult}}>
      <input type="hidden" name="year" value={{year}}>
      <input type="hidden" name="company" value={{company}}>
    </form>
  </body>
{% endblock %}

</html>
