<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Director Form</title>
    <link rel='stylesheet' href='/resources/common.css'>
  </head>

  {% extends "base.html" %}

{% block content %}
  <body>
    <h1>Release Date?</h1>
    <form id='Ratings' method="post" action='/reviews'>
      <p><select form_id='Ratings' id='Box' class='year' name='year'>
          <option id='text' value='  '>  </option>

          <option id='text' value='new'>New</option>
          <option id='text' value='recent'>Recent</option>
          <option id='text' value='old'>Old</option>

        </p>
      <p><input id='submit' type='submit'></p>
      <input type="hidden" name="genre" value={{genre}}>
      <input type="hidden" name="adult" value={{adult}}>
    </form>
  </body>
{% endblock %}

</html>
